<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HTML Template</title>
  </head>
  <body>
    <h2>Membership Request Sulambi - VOSA</h2>
    <p>
      Dear [name],
      <br />

      We are pleased to inform you that your membership proposal for Sulambi has
      been approved! We are excited to welcome you as a new member of our club.
      <br />
      <br />

      Your provided user credentials have also been successfully activated. You
      can now use them to log in to your Sulambi account and access all member
      resources and events. Simply visit [link] and enter your credentials to
      get started.

      <br />
      <br />
      Once again, congratulations on becoming a part of Sulambi, and we can't
      wait to see you at our next gathering! Sincerely, Sulambi - VOSA
    </p>
  </body>
</html>
