<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HTML Template</title>
  </head>
  <body>
    <h2>Event Participation Sulambi - VOSA</h2>
    <p>
      Dear [name],
      <br />

      We are pleased to inform you that after reviewing your application, you
      have successfully met the qualifications to participate in [event].

      <br />
      <br />
      Congratulations! We are excited to have you join us for this event and
      look forward to your involvement. If you have any questions or need
      further information, please don't hesitate to reach out. We are here to
      assist you. Thank you for your enthusiasm and commitment. We look forward
      to seeing you at the event!

      <br />
      <br />
      Best regards, Sulambi - VOSA
    </p>
  </body>
</html>
