<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HTML Template</title>
  </head>
  <body>
    <h2>Event Participation Sulambi - VOSA</h2>
    <p>
      Dear [name],

      <br />
      <br />
      Thank you for your interest in participating in [event]. After carefully
      reviewing your application and requirements, we regret to inform you that,
      unfortunately, your submission does not meet the necessary qualifications
      for this particular event.

      <br />
      <br />
      We understand this may be disappointing, but we encourage you to stay
      engaged with the organization and consider applying for future events, as
      there will be additional opportunities that may align more closely with
      your qualifications.
      <br />
      <br />

      We truly appreciate your understanding, and if you have any questions or
      would like feedback on your submission, please feel free to reach out.
      <br />
      <br />

      Thank you once again for your interest and continued support.
      <br />
      <br />

      Best regards, Sulambi - VOSA
    </p>
  </body>
</html>
