<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HTML Template</title>
  </head>
  <body>
    <h2>Membership Request Sulambi - VOSA</h2>
    <p>
      Dear [name],

      <br />
      <br />
      Thank you for your interest in becoming a member of Sulambi - VOSA. We
      greatly appreciate the time and effort you put into your application.
      <br />
      <br />
      After careful consideration, we regret to inform you that we are unable to
      offer you membership at this time. Please know that this decision was not
      made lightly, as we carefully evaluate each application based on a variety
      of factors.

      <br />
      <br />
      We value your enthusiasm for our community and encourage you to stay
      engaged with our events and initiatives. While we are unable to extend an
      invitation to join as a member at this moment, we would be happy to
      consider your application again in the future should circumstances change.
      <br />
      <br />

      Thank you again for your interest, and we wish you all the best in your
      endeavors.

      <br />
      <br />
      Sincerely, Sulambi - VOSA
    </p>
  </body>
</html>
